{% extends 'base.html.twig' %}

{% block body %}
    <h1> Password generator</h1>

    <form method="get" action="{{ path('app_generate_password') }}">
        <div>
            <label for="Length">Length</label>
            <select name="length" id="Length">
                {% for i in password_min_length.. password_max_length %}
                    <option value="{{ i }}"
                           {{ i == password_default_length ?'selected' }}
                    >
                        {{ i }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="Uppercase_letters">Uppercase Letters</label>
            <input
                    type="checkbox"
                    id="Uppercase_letters"
                    name="uppercase_latters"
{#                    {{ app.session.get('app.upperCaseLetters') ? 'checked' }}#}
            >
        </div>
        <div>
            <label for="digits">Digits</label>
            <input
                    type="checkbox"
                    id="digits" name="digits"
{#                    {{ app.session.get('app.digits') ? 'checked' }}#}
            >
        </div>
        <div>
            <label for="special_characters">Special characters</label>
            <input
                    type="checkbox"
                    id="special_characters"
                    name="special_characters"
{#                    {{ app.session.get('app.specialCharacters') ? 'checked' }}#}
            >
        </div>
        <div>
            <button type="submit">Generate password</button>
        </div>
    </form>
{% endblock %}