{% extends 'base.html.twig' %}

{% block body %}
{#    <div#}
{#        x-cloak#}
{#        x-data="{#}
{#        length: $persist({{ password_default_length }}),#}
{#        uppercaseLetters: $persist(false),#}
{#        digits: $persist(false),#}
{#        specialCharacters: $persist(false),#}
{#        }"#}
{#    >#}
    <h1> Password generator</h1>
    <form
        id="js-password-generator-form"
        method="get"
        action="{{ path('app_generate_password') }}"
    >
        <div>
            <label for="length">Length</label>
            <select name="length" id="length">
                {% for i in password_min_length.. password_max_length %}
                    <option value="{{ i }}"
                           {{ i == password_default_length ?'selected' }}
                    >
                        {{ i }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="uppercase-letters">Uppercase Letters</label>
            <input
                    type="checkbox"
                    id="uppercase-letters"
                    name="uppercase_letters"
{#                    x-model="uppercaseLetters"#}

{#                    {{ app.session.get('app.upperCaseLetters') ? 'checked' }}#}
            >
        </div>
        <div>
            <label for="digits">Digits</label>
            <input
                    type="checkbox"
                    id="digits" name="digits"
{#                    x-model="digits"#}
                    {{ app.session.get('app.digits') ? 'checked' }}
            >
        </div>
        <div>
            <label for="special-characters">Special characters</label>
            <input
                    type="checkbox"
                    id="special-characters"
                    name="special_characters"
{#                    x-model="specialCharacters"#}
                    {{ app.session.get('app.specialCharacters') ? 'checked' }}
            >
        </div>
        <div>
            <button type="submit">Generate password</button>
        </div>
    </form>
{#    </div>#}

{% endblock %}

{# {% block javascripts %}#}
{#     <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>#}
{#     <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>#}
{#     <script src= "/js/password_preferences.js" defer></script>#}
{# {% endblock %}#}